<h2>List of episodes</h2>

<table mat-table [dataSource]="episodesFilters">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let episode"> {{ episode.name }} </td>
  </ng-container>

  <ng-container matColumnDef="air_date">
    <th mat-header-cell *matHeaderCellDef> Air Date </th>
    <td mat-cell *matCellDef="let episode"> {{ episode.air_date }} </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Characters </th>
    <td mat-cell *matCellDef="let episode">
      <a mat-icon-button [routerLink]="['/characters', episode.id]">
        <mat-icon>link</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator class="animated fadeIn rigth" [length]="lenght"
              [pageSize]="size"
              [pageIndex]="pageIndex"
              (page)="getData($event, true)">
    </mat-paginator>

