<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Iniciar sesión</h1>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Correo electrónico</mat-label>
        <input type="email" id="email" formControlName="email" matInput placeholder="hola@mundo.com" required>
        @if (email.invalid) {
          <mat-error>{{getEmailErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" id="password" formControlName="password" matInput required>
        @if (password.invalid) {
          <mat-error>{{getPasswordErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>
  
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </form>