<h2>List of characters from {{nameEpisode}}</h2>

<table mat-table [dataSource]="characters">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let character"> {{character.name}} </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Avatar </th>
    <td mat-cell *matCellDef="let character">
        <img class="image" src={{character.image}} alt={{character.species}} width="50">
    </td>
  </ng-container>

  <ng-container matColumnDef="checkFavorite">
    <th mat-header-cell *matHeaderCellDef> Favorite </th>
    <td mat-cell *matCellDef="let character">
      <mat-checkbox checked={{character.favorite}} (change)="onFavoriteChange(character)">
      </mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

